@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Be nice and nice things will happen!</p>

<p>The only way to do great work is to love what you do. - Steve Jobs</p>

<p>Believe you can and you’re halfway there. - Theodore Roosevelt</p>
